/* CSS file */
ComboBox {
  cornerRadius : 0;	
  color : #000000;
  textSelectedColor : #000000;
  textRollOverColor : #888888;
}

Button {
  cornerRadius : 0;	
  color : #000000;
  textSelectedColor : #000000;
  textRollOverColor : #888888;
}

TextInput {
  backgroundColor : #FFEFEF;
  backgroundAlpha : 1;
  borderThickness : 1;
  borderStyle : solid;
  
}

global {
  fontSize : 11;	
  fillAlphas : 1, 1;
  fillColors : #FFEFEF, #FFEFEF;
  selectionColor : #FFDFDF;
  rollOverColor : #FFEFEF;
}