<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.hamster.calendar"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".HsaCalendar"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<receiver android:name="HsaCalendarWidget" android:label="@string/widget44_name" >
		    <intent-filter>
		        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
		        <action android:name="android.intent.extra.INTENT" />
		        <action android:name="android.intent.action.PICK_ACTIVITY" />
		        <action android:name="android.intent.action.RUN" />
		        <action android:name="org.hamster.calendar.click" />
		        <action android:name="org.hamster.calendar.date_tick" />
		        <action android:name="org.hamster.calendar.click.yearMonth" />
		    </intent-filter>
		    <meta-data android:name="android.appwidget.provider"
		               android:resource="@xml/appwidget_provider" />
		</receiver>
    </application>
    
    <uses-sdk android:minSdkVersion="7" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.SET_ACTIVITY_WATCHER" />
</manifest> 