global {
	fontFamily: fzmwFont;
	fontSize : 14;
	themeColor : #333333;
}

.h1 {
	fontSize : 14;
	fontWeight : bold;
}

ComboBox {
	cornerRadius : 0;
	fillAlphas : 0.4, 0.4;
	fillColors : #222222, #222222;
	textRollOverColor : #FFFFFF;
	textSelectedColor : #FFFFFF;
	rollOverColor : #666666;
	selectionColor : #222222;
	borderColor : #000000;
	borderThickness : 0;
	highlightAlphas : 0.8, 0.6;
	dropdownStyleName : dropdownComboBox;
	fontWeight : normal;
}

.dropdownComboBox {
	backgroundColor: #444444;
	fontWeight : normal;
}

/*@font-face {
	src:local("Arial");  //嵌入本机字体
	fontFamily: ArialFont;  //字体的别名
	fontStyle:  normal;   //默认normal，正常，可选值：italic | oblique | normal
	fontWeight: normal;   //默认normal，正常，可选值：bold | heavy | normal
	flashType: true;    //默认true，添加文本的额外信息，使得文本抗锯齿，平滑显示
}*/