global {
	fontFamily: fzmwFont;
	fontSize : 14;
	fontWeight : normal;
	themeColor : #333333;
}

.h1 {
	fontSize : 14;
	fontWeight : bold;
}

CheckBox {
	textRollOverColor : #FFFFFF;
	textSelectedColor : #FFFFFF;
	borderColor : #000000;
}

ComboBox {
	cornerRadius : 0;
	fillAlphas : 0.4, 0.4;
	fillColors : #222222, #222222;
	textRollOverColor : #FFFFFF;
	textSelectedColor : #FFFFFF;
	rollOverColor : #666666;
	selectionColor : #333333;
	borderColor : #000000;
	borderThickness : 0;
	dropdownStyleName : dropdownComboBox;
	fontWeight : normal;
} 

.dropdownComboBox {
	backgroundColor: #000000;
	fontWeight : normal;
	borderColor : #000000;
} 

/*@font-face {
	src:url("fonts/FZMWFont.ttf"); 
	fontFamily: fzmwFont;
}*/